In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from data_utils import *
from preprocess.preprocess import *

2022-12-13 10:30:44 INFO  WordSegmenter:24 - Loading Word Segmentation model

In [2]:
# data = pd.read_csv('./data/data.csv').dropna().reset_index(drop=True)
data = pd.read_csv('./data/original_data/full_train.csv')
data = data[['Comment', 'Rating']].dropna().reset_index(drop=True)

In [3]:
# data[data['rating'].apply(lambda r: True if r>7.0 or r<6.0 else False)]['rating']

In [4]:
# sns.histplot(data[data['rating'].apply(lambda r: True if r>7.0 or r<6.0 else False)]['rating'])
# sns.histplot(data['rating'])
# plt.show()

In [5]:
# data['text'] = data['Comment'].apply(normalize_text_to_nfc_standard)
# data['label'] = data['Rating']
# data = data[['text', 'label']]

In [6]:
data['Rating'].value_counts()

1.0    7146
0.0    1924
Name: Rating, dtype: int64

In [4]:
text_pos = data[data['Rating']==1]['Comment'].values
text_neg = data[data['Rating']==0]['Comment'].values

In [5]:
print(len(text_pos))
print(len(text_neg))

7146
1924

In [6]:
all_text_pos = "sepsepsepsepsep".join(text_pos)
all_text_neg = "sepsepsepsepsep".join(text_neg)

In [7]:
# all_text_pos = handle_foody_data(all_text_pos, lowercase=False, tone_normalize=False)
# all_text_neg = handle_foody_data(all_text_neg, lowercase=False, tone_normalize=False)
# all_text_pos = handle_foody_data(all_text_pos, lowercase=False)
# all_text_neg = handle_foody_data(all_text_neg, lowercase=False)
# all_text_pos = handle_foody_data(all_text_pos, phone_number=" <PN> ", url=" <URL> ", email=" <MAIL> ")
# all_text_neg = handle_foody_data(all_text_neg, phone_number=" <PN> ", url=" <URL> ", email=" <MAIL> ")
all_text_pos = handle_foody_data(all_text_pos, phone_number=" <PN> ", url=" <URL> ", email=" <MAIL> ", lowercase=False, remove_punctuation=False)
all_text_neg = handle_foody_data(all_text_neg, phone_number=" <PN> ", url=" <URL> ", email=" <MAIL> ", lowercase=False, remove_punctuation=False)

In [8]:
new_text_pos = all_text_pos.split("sepsepsepsepsep")
new_text_neg = all_text_neg.split("sepsepsepsepsep")

In [9]:
print(len(new_text_pos))
print(len(new_text_neg))

7145
1924

In [10]:
new_text_pos[:3]

['Xôi dẻo, đồ ăn đậm vị. Hộp xôi được lót lá trông rất thích',
 'Thời tiết lạnh như này, cả nhà rủ nhau đến legarden thì hết ý. Nhà mình đã ăn ở đây nhiều rồi rất ưng thái độ phục vụ của các bạn nhân viên, tận tình như người nhà. Đồ ăn thì miễn bàn mình chưa tìm được quán ăn hồng kong nào chuẩn vị như ở đây',
 'Đồ ăn rất ngon, nhà hàng cũng rất đẹp, tất cả đều ok cho đến khi mình chờ 2 món cuối lâu quá. Mình gọi hỏi thì nhân viên order liên tục phủ nhận mìn chưa gọi trong khi đấy là 2 món mình đặt đầu tiên. Không nhận lỗi và cũng không xin lỗi, càng không có ý định làm tiếp hai món đấy cho mình :) Đây là lần đầu tiên vào một nhà hàng (giá) cao cấp mà gặp chuyện như này :) Mong nhà hàng có thể xem xét lại nhân viên phục vụ một cách tốt hơn :) không cần xuất sắc quá đâu, không trả treo khách là đủ rồi :)']

In [11]:
text_pos[:3].tolist()

['Xôi dẻo, đồ ăn đậm vị. Hộp xôi được lót lá trông rất thích',
 'Thời tiết lạnh như này, cả nhà rủ nhau đến legarden thì hết ý. Nhà mình đã ăn ở đây nhiều rồi rất ưng thái độ phục vụ của các bạn nhân viên, tận tình như người nhà. Đồ ăn thì miễn bàn mình chưa tìm được quán ăn hồng kong nào chuẩn vị như ở đây',
 'Đồ ăn rất ngon, nhà hàng cũng rất đẹp, tất cả đều ok cho đến khi mình chờ 2 món cuối lâu quá. \nMình gọi hỏi thì nhân viên order liên tục phủ nhận mìn chưa gọi trong khi đấy là 2 món mình đặt đầu tiên.\nKhông nhận lỗi và cũng không xin lỗi, càng không có ý định làm tiếp hai món đấy cho mình :) \nĐây là lần đầu tiên vào một nhà hàng (giá) cao cấp mà gặp chuyện như này :) \nMong nhà hàng có thể xem xét lại nhân viên phục vụ một cách tốt hơn :) không cần xuất sắc quá đâu, không trả treo khách là đủ rồi :)']

In [ ]:
text_pos = list(map(normalize_text_to_nfc_standard, text_pos))
text_neg = list(map(normalize_text_to_nfc_standard, text_neg))
new_text_pos = list(map(normalize_tone, text_pos))
new_text_neg = list(map(normalize_tone, text_neg))

In [12]:
# new_text_pos = list(map(normalize_text_to_nfc_standard, text_pos))
# new_text_neg = list(map(normalize_text_to_nfc_standard, text_neg))
new_text_pos = segment_data(new_text_pos)
new_text_neg = segment_data(new_text_neg)

100%|██████████| 7145/7145 [00:12<00:00, 590.60it/s]
100%|██████████| 1924/1924 [00:02<00:00, 756.98it/s]

In [13]:
pos_label = len(new_text_pos)*[1]
neg_label = len(new_text_neg)*[0]

In [14]:
data = list(zip(new_text_pos, pos_label)) + list(zip(new_text_neg, neg_label))

In [15]:
data = pd.DataFrame(data, columns=['text', 'label'])

In [16]:
data = data.sample(frac=1, random_state=69).reset_index(drop=True)

In [17]:
data[data['text'].apply(lambda s: len(s)<2)]

     text  label
3041    .      1
3727          1
6232    .      0
7095          1

In [18]:
data = data.drop([3041, 3727, 6232, 7095]).reset_index(drop=True)

In [19]:
data[data['text'].apply(lambda s: len(s)<2)]

Empty DataFrame
Columns: [text, label]
Index: []

In [20]:
data.head()

                                                text  label
0         Đang khát uống đc cốc này phê dã mannn        1
1  Mình đi xem cuộc thi bên cung_văn_hoá , đói mờ...      1
2  Bánh_mì ngon , nhiều loại đa dang mà giá khá ổ...      1
3  Thức_ăn ngon đặc_biệt là bolognese ở đây đầy ú...      1
4  Sáng có việc đi qua nên rẽ vào ăn . Gọi bát ch...      1

In [21]:
# data.to_csv('./data/original_data/preprocessed_unsegmented_data.csv', index=False)
# data.to_csv('./data/preprocessed_unsegmented_data_1.csv', index=False)
# data.to_csv('./data/original_data/unpreprocessed_segmented_data.csv', index=False)
data.to_csv('./data/original_data/preprocessed_segmented_data.csv', index=False)